*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(bg.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(88, 9, 9);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.contant{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}
.brown{
    color: rgb(88, 9, 9);
    font-family: 'Satisfy';
}
.contant h1{
    font-size: 50px;
    margin-top: 100px;
    margin-left: 90px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    margin-left: 90px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(88, 9, 9);
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: rgb(88, 9, 9);
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
.items{
    margin: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}
.item img{
    cursor: pointer;
    transition: 0.3s ease;
}
.item img:hover{
    transform: scale(1.04);
}
.item h4{
    padding: 5px;
    text-align: center;
    cursor: pointer;
    color: yellowgreen;
}
.item h4:hover{
    transform: scale(1.04);
  color: green;
}
.item button{
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    display: flex;
    margin: 0 auto;
    transition: 0.2s all;
}
.item button:hover{
    transform: scale(1.04);
    background-color: yellowgreen;
    
}
.container {
    width: 100%;
    height: 400px;
    background-image: url(bg2.avif);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

